# Backend
FRONTEND_ORIGIN=https://buylands.live

# PayHere
PAYHERE_MERCHANT_ID=
PAYHERE_MERCHANT_SECRET=

# SMTP (Mailtrap or your provider)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_AUTH=LOGIN
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=tls
